.header {
  padding: 20px;
  border: 2px solid #f16ae6;
  border-radius: 50px;
  display: flex;
  align-items: center;
  top: 0;
  width: 95%;
  margin: 10px 10px 10px 50px;
  background-color: #f9f9f9;
}

.header img {
  height: 120px;
  width: 120px;
  margin: 0 50px;
  border-radius: 50%;
  border: 2px black solid;
}

.header h1 {
  margin: 0;
  margin-left: 30%;
  color: rgb(11, 11, 11);
}

.spam1 {
  color: #f16ae6;
}

/* Para tabletas */
@media (max-width: 768px) {
  .header img {
    height: 90px;
    width: 90px;
  }
}

/* Para celulares */
@media (max-width: 480px) {
  .header img {
    height: 60px;
    width: 60px;
  }
}
