.header {
  padding: 20px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  top: 0;
  width: 95%;
  margin: 10px 10px 10px 50px;
}

.header img {
  height: 120px;
  width: 120px;
  margin: 0 50px;
  border-radius: 50%;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2), 6px 6px 10px rgba(0, 0, 0, 0.2),
    9px 9px 15px rgba(0, 0, 0, 0.2);
  border: 2px groove #0b0a0b;
  position: static;
}

.header h1 {
  margin: 0;
  margin-left: 30%;
  color: rgb(11, 11, 11);
}

.spam1 {
  color: #f16ae6;
}

.link {
  font-size: 20px;
  color: black;
  justify-content: center;
  display: flex;
  margin: 10px;
}

/* Para tabletas */
@media (max-width: 768px) {
  .header img {
    height: 90px;
    width: 90px;
  }
  .header h1 {
    font-size: 1.5em; /* Ajusta el tamaño del texto para tabletas */
  }
}

/* Para celulares */
@media (max-width: 480px) {
  .header img {
    height: 60px;
    width: 60px;
  }
  .header h1 {
    font-size: 1em; /* Ajusta el tamaño del texto para celulares */
  }
}
